.App-Header {
  background-color: #13e796;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-Title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #131f22;
}

.App-Title span {
  margin-left: 5px;
  color: #131f22;
}

.App-Nav {
  width: 100%;
  height: 100%;
}

.App-Nav ul {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.App-Nav ul li {
  width: 100px;
  height: 60%;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-Nav ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;

  background-color: #131f22;
  color: #fff;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  transition: 0.25s ease-in-out;
}

.App-Nav ul li a:hover {
  border-radius: 0px;
  color: #13e796;
}

.App-Nav ul li a.active {
  color: #13e796;
}

@media (max-width: 675px) {
  .App-Header {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .App-Title {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .App-Header {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .App-Title {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .App-Nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
  }

  .App-Nav ul li a {
    background-color: transparent;
    color: #131f22;
  }

  .App-Nav ul li a:hover {
    border-radius: 0px;
    color: #fff;
  }
  
  .App-Nav ul li a.active {
    color: #fff;
  }
}
