.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5% 93% 2%;
  background-color: #131f22;
}

.App-content {
  padding: 50px 8px 8px 8px;
  /* background-color: #131f22; */
  color: #fff;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App footer {
  font-size: 12px;
  height: 100%;
  color: #fff;
  text-align: center;
}
