.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5% 93% 2%;
  background-color: #131f22;
}

.App-content {
  padding: 50px 8px 8px 8px;
  /* background-color: #131f22; */
  color: #fff;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .App-footer {
  font-size: 12px;
  height: 100%;
  color: #fff;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media(max-width: 400px) {
  .App {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 88% 2%;
    background-color: #131f22;
  }

  .App-content {
    padding: 30px 8px 8px 8px;
  }
}